:root {
    --main-bg-color: #F9F9F9;;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.indexDiv{
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "upperPart upperPart"
    "leftPart rightPart";
    margin: 0;
    height: 100vh;
}
h1, h2, h3{
    font-family: sans-serif;
}
.upperPart{
    grid-area: upperPart;
    border-bottom-style: solid;
    border-color: #AFAFAF;
    border-width: 3px;
}
.leftPart {
    grid-area: leftPart;
    padding-top: 1rem;

}
.rightPart {
    grid-area: rightPart;
    border-left-style: solid;
    border-color: #AFAFAF;
    border-width: 3px;
    padding-top: 1rem;
}

#mainNumber{
    width: 98vw;
    height: 18vh;
    background-color: var(--main-bg-color);
    border-style: none;
    font-size: 3rem;
    text-align: right;
    caret-color: transparent;
    margin-right: 1rem;

}
#mainNumber:focus{
    border-style: none;
    outline: none;
}
.menuAndCalcType{
    display: flex;
    gap: 2rem;
    align-items: center;
}
#menuButton{
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    font-size: larger;
}
#calcType{
    margin: 0.5rem 0;
}
.calculatorScreenPart{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: left;
}
.rightPart{
    text-align: right;
}
.historyHeader{
    margin-top: 0;
    margin-left: 1rem;
    font-size: larger;
}
.calcButton{
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
    border-color: #C4C4C4;
    border-style: none;
    margin: 5px 5px;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 500;
    box-shadow: 2px 2px 2px rgba(54, 54, 54, 0.655);
}
.numberButton{
    background-color: #d1fffe;
}
.calcButton:active{
    background-color: #dedede;
}
.equationSign{
    background-color: #00B7B4;
}
.equationSign:active{
    background-color: #008e8c;
}

.buttonsHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttonsLine{
    display: flex;
    align-items: center;
    justify-content: center;
}
#numberAndOperationInWork{
    color: grey;
    text-align: left;
    font-size: larger;
    margin-right: 1rem;
}

#operationsHistory{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: sans-serif;
    font-size: large;
    justify-content: left;
    align-items: flex-start;
}
.historyElement{
    padding: 0.5rem;
}

a{
    color: black;
    font-style: normal;
    text-decoration: none;
}

a:visited{
    color: black;
    font-style: normal;
    text-decoration: none;
}

.flexCollumnCenter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center ;
    gap: 1rem;
}

#graphInput{
    width: 22rem;
    height: 2rem;
    font-size: large;
    border-style: none;
    border-bottom-style: solid;
}
#graphInput:focus{
    border-style: none;
    border-bottom-style: solid; 
}
#formulaInputDiv{
    font-size: large;
    display: flex;
    gap: 1rem;
    font-weight: 900;
    justify-content: flex-start;
    align-items: center;
}

.mainDivGraphCalc{
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "leftPart rightPart";
    margin: 0;
    height: 100vh;
}

.bottomPart{
    grid-area: bottomPart;
    border-top-style: solid;
    border-color: #AFAFAF;
    border-width: 3px;
}

#formulasDiv{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: sans-serif;
    font-size: large;
    justify-content: left;
    align-items: flex-start;
}

.grafHistoryDiv{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

